<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Ktor -->
    <logger name="io.ktor" level="DEBUG"/>
    <logger name="io.netty" level="INFO"/>
    <!-- Audiotagger -->
    <logger name="org.jaudiotagger.tag" level="WARN"/>
    <!-- OpenAPI -->
    <logger name="io.swagger.v3.core" level="WARN"/>
    <!--  Watchservice  -->
    <logger name="io.methvin.watcher.DirectoryWatcher" level="INFO"/>
    <!-- DB connector -->
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <!-- Reflection for db migrations -->
    <logger name="org.reflections" level="WARN"/>
    <!-- DB connector -->
    <logger name="Exposed" level="INFO"/>
</configuration>
