<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- OpenAPI -->
    <logger name="com.papsign.ktor.openapigen.OpenAPIGen" level="WARN"/>
    <logger name="com.papsign.ktor.openapigen.modules.handlers.RouteHandler" level="WARN"/>
    <!--  Watchservice  -->
    <logger name="io.methvin.watcher.DirectoryWatcher" level="INFO"/>
    <!-- Webserver -->
    <logger name="io.netty" level="INFO"/>
    <!-- DB connector -->
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <!-- Reflection for db migrations -->
    <logger name="org.reflections" level="WARN"/>
    <!-- DB connector -->
    <logger name="Exposed" level="INFO"/>
    <!-- Reload -->
    <logger name="ktor.application" level="INFO"/>

</configuration>
